---
import { getCollection } from "astro:content";
import Root from "@/layouts/Root.astro";
import {
  Card,
  CardHeader,
  CardTitle,
  CardDescription,
} from "@/components/ui/card";
import { Masonry } from "astro-masonry";

const articles = (await getCollection("articles")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Root
  title="Articles - Joseph Abbey"
  description="A list of all articles by Joseph Abbey"
>
  <section class="mx-4">
    <Masonry
      breakpointCols={{
        default: 3, // lg
        1024: 2, // md
        640: 1, // sm
      }}
      class="flex gap-4 px-4"
      columnClass="flex flex-col gap-4"
    >
      {
        articles.map((article) => (
          <a
            href={article.data.href}
            target="_blank"
            rel="noopener noreferrer"
            class="h-max"
          >
            <Card>
              <CardHeader>
                <CardTitle className="text-pretty">
                  {article.data.title ?? article.id}
                </CardTitle>
                <CardDescription className="overflow-ellipsis line-clamp-3 max-h-[3.75rem] overflow-hidden">
                  {article.data.content}
                </CardDescription>
              </CardHeader>
            </Card>
          </a>
        ))
      }
    </Masonry>
  </section>
</Root>
