@import "tailwindcss";
@import "tw-animate-css";

:root {
  font-family: var(--font-inter);
  color-scheme: dark;
}

/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
  --radius: 0.625rem;
  --background: hsl(240 21.05% 14.9%); /* base */
  --foreground: hsl(226 63.93% 88.04%); /* text */
  --card: hsl(240 21.05% 14.9%); /* base */
  --card-foreground: hsl(226 63.93% 88.04%); /* text */
  --popover: hsl(240 21.05% 14.9%); /* base */
  --popover-foreground: hsl(226 63.93% 88.04%); /* text */
  --primary: hsl(170 57.35% 73.33%); /* accent - Teal */
  --primary-foreground: hsl(240 21.05% 14.9%); /* base */
  --secondary: hsl(237 16.24% 22.94%); /* surface0 */
  --secondary-foreground: hsl(226 63.93% 88.04%); /* text */
  --muted: hsl(237 16.24% 22.94%); /* surface0 */
  --muted-foreground: hsl(227 35.29% 80%); /* subtext1 */
  --accent: hsl(237 16.24% 22.94%); /* surface0 */
  --accent-foreground: hsl(226 63.93% 88.04%); /* text */
  --destructive: hsl(343 81.25% 74.9%); /* red */
  --border: hsl(234 13.21% 31.18%); /* surface1 */
  --input: hsl(234 13.21% 31.18%); /* surface1 */
  --ring: hsl(226 63.93% 88.04%); /* text */
  --chart-1: hsl(329 21.57% 37.25%); /* red */
  --chart-2: hsl(188 18.82% 37.25%); /* teal */
  --chart-3: hsl(221 27.45% 39.61%); /* blue */
  --chart-4: hsl(30 9.41% 42.35%); /* yellow */
  --chart-5: hsl(139 12.94% 38.04%); /* green */
  --sidebar: hsl(240 21.18% 14.12%); /* mantle */
  --sidebar-foreground: hsl(226 63.93% 88.04%); /* text */
  --sidebar-primary: hsl(170 57.35% 73.33%); /* accent - Teal */
  --sidebar-primary-foreground: hsl(240 21.05% 14.9%); /* base */
  --sidebar-accent: hsl(240 21.05% 14.9%); /* surface0 */
  --sidebar-accent-foreground: hsl(226 63.93% 88.04%); /* text */
  --sidebar-border: hsl(234 13.21% 31.18%); /* surface1 */
  --sidebar-ring: hsl(234 13.21% 31.18%); /* surface1 */
}

/*
  ---break---
 */

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/*
  ---break---
 */

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.markdown {
  h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight text-balance;
  }
  h2 {
    @apply mt-10 scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0;
  }
  h3 {
    @apply mt-8 scroll-m-20 text-2xl font-semibold tracking-tight;
  }
  h4 {
    @apply mt-6 scroll-m-20 text-xl font-semibold tracking-tight;
  }
  p {
    @apply leading-7 [&:not(:first-child)]:mt-6;
  }
  a:not([data-md-no-style]) {
    @apply text-primary font-medium underline underline-offset-4;
  }
  blockquote {
    @apply mt-6 border-l-2 pl-6 italic;
  }
  ul {
    @apply my-6 ml-6 list-disc [&>li]:mt-2;
  }
  :not(pre) > code {
    @apply bg-muted relative rounded px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
  }
  pre:has(> code) {
    @apply my-6 max-h-[90svh] overflow-y-scroll rounded-lg border p-4;
  }
  img:not([data-md-no-style]) {
    @apply mx-auto my-6 max-h-1/2 rounded-lg border;
  }
  video:not([data-md-no-style]) {
    @apply mx-auto my-6 max-h-1/2 rounded-lg border;
  }

  table:not([data-md-no-style]) {
    @apply my-6 w-full caption-bottom text-sm;

    th {
      @apply border px-4 py-2 text-left font-bold [&[align=center]]:text-center [&[align=right]]:text-right;
    }
    td {
      @apply border px-4 py-2 text-left [&[align=center]]:text-center [&[align=right]]:text-right;
    }
    tr {
      @apply even:bg-muted m-0 border-t p-0;
    }
  }

  .katex-display {
    @apply my-6 block;
  }
  .katex-html {
    @apply hidden;
  }

  a[target="_blank"]:not([data-md-no-style]) {
    display: inline-flex;
    align-items: center;

    &::after {
      content: "";
      background-image: url("/external-link.svg");
      background-repeat: no-repeat;
      background-size: 1em 1em;
      display: inline-block;
      width: 1em;
      height: 1em;
      margin-left: 0.25em;
    }
  }

  /* auto link for headings */
  .icon.icon-link {
    position: relative;

    &::before {
      position: absolute;
      left: -1em;
      content: "#";
      color: var(--color-primary);
      &:hover {
        text-decoration: underline;
        opacity: 0.8;
      }
    }
  }
}
