// Applied to all pages (not components)

:host {
  width: 100%;
  height: 100%;
  font-family: monospace;

  --nav-background-color: white;
  --nav-foreground-color: black;

  @media (prefers-color-scheme: dark) {
    --nav-background-color: black;
    --nav-foreground-color: white;
  }
}
