---
import {
  GitHubDark,
  Gmail,
  LinkedIn,
  Twitter,
} from "@ridemountainpig/svgl-react";
const today = new Date();
---

<footer
  class="mt-8 mb-16 flex flex-col items-center justify-between gap-8 border-t pt-4 text-center text-sm"
>
  &copy; {today.getFullYear()} Joseph Abbey. All rights reserved.
  <div class="flex gap-2">
    <a href="https://github.com/josephabbey" target="_blank" title="GitHub">
      <span class="sr-only">Go to Joseph Abbey's GitHub</span>
      <GitHubDark className="h-8" />
    </a>
    <a
      href="https://www.linkedin.com/in/josephabbey"
      target="_blank"
      title="LinkedIn"
    >
      <span class="sr-only">Go to Joseph Abbey's LinkedIn</span>
      <LinkedIn className="h-8" />
    </a>
    <a
      href="https://www.twitter.com/__josephabbey"
      target="_blank"
      title="Twitter"
    >
      <span class="sr-only">Go to Joseph Abbey's Twitter</span>
      <Twitter className="h-8" />
    </a>
    <a href="mailto:me@josephabbey.dev" target="_blank" title="Email">
      <span class="sr-only">Send an email to Joseph Abbey</span>
      <Gmail className="h-8" />
    </a>
  </div>
</footer>
